@using SocialDataMiningApp.Models
@model TwitterModel
@{
    ViewData["Title"] = "Twitter";
}

<div class="d-flex justify-content-center">
    <div class="card" style="min-width: 600px;">
        <div class="card-body">
            <h5 class="card-title">Tweet Something...</h5>
            <form asp-action="Send" asp-controller="Twitter" method="post">
                <div class="row pb-2">
                    <textarea class="form-control" placeholder="Enter text..." asp-for="text"
                              rows="4" aria-label="With textarea"></textarea>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-primary w-100">Tweet</button>
                </div>
            </form>

        </div>
    </div>
</div>