@using SocialDataMiningApp.Models
@model RedditModel
@{
    ViewData["Title"] = "Reddit";
}

<div class="d-flex justify-content-center">
    <div class="card" style="min-width: 600px;">
        <div class="card-body">
            <h5 class="card-title">Post something on reddit...</h5>
            <form asp-action="Send" asp-controller="Reddit" method="post">
                <div class="row pb-2">
                    <input class="form-control pb-2" placeholder="title..." asp-for="title" type="text" />
                </div>
                <div class="row pb-2">
                    <textarea asp-for="post" placeholder="Enter text..." class="form-control" rows="4"
                              aria-label="With textarea"></textarea>
                </div>
                <div class="row">
                    <button type="submit" class="btn btn-danger w-100">Post</button>
                </div>
            </form>

        </div>
    </div>
</div>